simple text only template.json
{
  "name": "simple text only template",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "7b57b663-6508-46bc-a2f9-7835b4f27551",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -432,
        -192
      ],
      "id": "170a38e4-f71d-4410-9c18-70e3014d589a",
      "name": "Webhook",
      "webhookId": "7b57b663-6508-46bc-a2f9-7835b4f27551"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -224,
        -192
      ],
      "id": "5f58f4c1-e402-44f4-a215-0d10f36872dc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.chatId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -64,
        96
      ],
      "id": "7c0e0a55-605d-419e-8f0f-4be9d3592215",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        128,
        -192
      ],
      "id": "8b51541f-cc2c-4d1e-8c03-a5821042829b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -256,
        96
      ],
      "id": "94fdf661-6f5a-4485-b2b6-12f01ea6a071",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "dEASfqzxCW8mJcmP",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2cf08171-56d0-4156-bb0b-b4079a4381bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "49cdcd85d6898457370ad5429325f5a45e11bece7e402d3233eae4c538f59bd8"
  },
  "id": "QTLvnKRtYVgbQCEv",
  "tags": []
}